<b-container class="comment comment-wrapper">
    {% for comment in comments %}
    {% if forloop.counter < 4 %}
        <li>
            <b-row class="infoAndImage">
                <b-col cols="8" class="text-left">
                    <p>by {{ comment.name }}</p>
                </b-col>
                <b-col cols="4" class="flag text-right">
                    <p class="text-with-flag margin-0">{{ comment.created_at }}</p>
                    <span class="flag-icon flag-icon-{% filter lower %}{{ comment.country_code }}{% endfilter %}"></span>
                    <p class="text-with-flag"><strong> {{ comment.country }} </strong></p>
                </b-col>
            </b-row>
            <b-row>
                {{ comment.review }}
            </b-row>
        </li>
    {% endif %}
    {% for child in comment.children %}
        {% if forloop.counter < 4 %}
            <li>
                <b-row class="infoAndImage">
                    <b-col cols="8" class="text-left">
                        <p>by {{ child.name }}</p>
                    </b-col>
                    <b-col cols="4" class="flag text-right">
                        <p class="text-with-flag margin-0">{{ child.created_at }}</p>
                        <span class="flag-icon flag-icon-{% filter lower %}{{ child.country_code }}{% endfilter %}"></span>
                        <p class="text-with-flag"><strong> {{ child.country }} </strong></p>
                    </b-col>
                </b-row>
                <b-row>
                    {{ child.review }}
                </b-row>
            </li>
        {% endif %}
    {% endfor %}
{% endfor %}
</b-container>


<div class="row bootstrap snippets">
    <div class="col-md- col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <ul class="media-list">
                    {% for comment in comments %}


                        {% if forloop.counter < 4 %}
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.created_at }}</small>
                                </span>
                                    <strong class="text-success">{{ comment.name }}</strong>
                                    <p>

                                        {{ comment.review }} {% filter lower %}{{ comment.country_code }}{% endfilter %}j {{ comment.country_code }}

                                    </p>
                                </div>


                            </li>
                        {% endif %}

                        <ul>
                            {% for child in comment.children %}

                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""
                                             class="img-circle">
                                    </a>
                                    <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ child.created_at }}</small>
                                </span>
                                        <strong class="text-success">{{ child.name }}</strong>
                                        <p>

                                            {{ child.review }}

                                        </p>
                                    </div>
                                </li>

                            {% endfor %}
                        </ul>
                    {% endfor %}

                </ul>


                <div class="container">

                </div>


            </div>
        </div>

    </div>
</div>

<form action="/savecomment" method="post">
    {% csrf_token %}
    <div class="panel-body">
        <input type="hidden" name="slug" value="{{ service.slug }}">
        <textarea class="form-control" placeholder="post a review" name="review" rows="1" cols="2"></textarea>
        <textarea class="form-control" placeholder="post a review" name="review" rows="3" cols="2"></textarea>
        <br/>
        <button type="submit" class="btn btn-info pull-right">Post</button>
        <div class="clearfix"></div>
        <hr/>
    </div>
</form>