<div class="row bootstrap snippets">
    <div class="col-md- col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <ul class="media-list">
                    {% for comment in comments %}

                        {% if forloop.counter < 4 %}
                            <li class="media">
                                <a href="#" class="pull-left">
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                </a>
                                <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ comment.created_at }}</small>
                                </span>
                                    <strong class="text-success">{{ comment.name }}</strong>
                                    <p>

                                        {{ comment.review }}

                                    </p>
                                </div>


                            </li>
                        {% endif %}

                        <ul>
                            {% for child in comment.children %}

                                <li class="media">
                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt=""
                                             class="img-circle">
                                    </a>
                                    <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">{{ child.created_at }}</small>
                                </span>
                                        <strong class="text-success">{{ child.name }}</strong>
                                        <p>

                                            {{ child.review }}

                                        </p>
                                    </div>
                                </li>

                            {% endfor %}
                        </ul>
                    {% endfor %}

                </ul>


            <div class="container">

            </div>




            </div>
        </div>

    </div>
</div>

                <form action="/savecomment" method="post">
                    {% csrf_token %}
                    <div class="panel-body">
                        <input type="hidden" name="slug" value="{{ service.slug }}">
                        <textarea class="form-control" placeholder="post a review" name="review" rows="1" cols="2"></textarea>
                        <textarea class="form-control" placeholder="post a review" name="review" rows="3" cols="2"></textarea>
                        <br/>
                        <button type="submit" class="btn btn-info pull-right">Post</button>
                        <div class="clearfix"></div>
                        <hr/>
                    </div>
                </form>