<social-sharing url="http://ec2-3-130-86-191.us-east-2.compute.amazonaws.com/"
                                        title="The Progressive JavaScript Framework"
                                        description="Intuitive, Fast and Composable MVVM for building interactive interfaces."
                                        quote="Vue is a progressive framework for building user interfaces."
                                        hashtags="vuejs,javascript,framework"
                                        twitter-user="vuejs"
                                        inline-template>
                            <div class="media-share">

                                <b-dropdown-item class="linkedin-share">

                                    <network network="linkedin">
                                        <i class="fab fa-linkedin"></i> LinkedIn
                                    </network>

                                </b-dropdown-item>

                                <b-dropdown-item variant="info">

                                    <network network="telegram">
                                        <i class="fab fa-telegram"></i> Telegram
                                    </network>

                                </b-dropdown-item>

                                <b-dropdown-item class="facebook-share">

                                    <network network="facebook">
                                        <i class="fab fa-facebook"></i> Facebook
                                    </network>

                                </b-dropdown-item>

                                <b-dropdown-item variant="danger">

                                    <network network="reddit">
                                        <i class="fab fa-reddit"></i> Reddit
                                    </network>

                                </b-dropdown-item>

                                <b-dropdown-item variant="success">

                                    <network network="whatsapp">
                                        <i class="fab fa-whatsapp"></i> Whatsapp
                                    </network>

                                </b-dropdown-item>

                            </div>
                        </social-sharing>