<b-row class="service-main">

    <div class="col-12 col-md-5 service-overview">

        <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">

        <div class="flex-container">
            <div class="star-value flexible">4.0</div>
            <div class="rate-container flexible">
                <rate :length="5" :value="4"/>
            </div>
        </div>

        <p class="service-text-blue">150 reviews</p>
        <img src="/static/images/ic-markets-site.webp" class="img-fluid">


    </div>


    <div class="col-12 col-md-7">

        <table class="table table-sm text-dark table-bordered">
            <tbody>


            {% for field in service_helper.company_profile %}

                {% if forloop.counter == 1 %}

                    <tr>
                        <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                            colspan="2">{{ 'Company Profile' }}</td>
                    </tr>

                {% endif %}




                <tr>
                    <td class="border border-light no-float" scope="row" width="45%">{{ field.label }}:</td>
                    <td class="border border-light no-float" scope="row" width="55%">{{ field | safe }}</td>
                </tr>





            {% endfor %}


            </tbody>
        </table>


    </div>


</b-row>

<button type="button" class="btn btn-success font-weight-bold h4">website</button>

