{% load wagtailimages_tags %}

<div class="products row">

    {% for prod in products %}

        <div class="col-md-3 col-6">

            <div class="product">
                <div class="product-image-wrapper"> {% image prod.logo fill-165x98 class="product-image" %} </div>
                <div class="product-info">
                    <h5 title="{{ prod.name }}"> {{ prod.name }} </h5>
                </div>
                <div class="product-link text-center">
                    <a href="{{ prod.affiliate.getLink }}">
                        <button type="button" class="btn btn-info btn-lg product-link-button">
                            Info
                        </button>
                    </a>
                </div>
            </div>

        </div>

    {% endfor %}

</div>

