{% load wagtailimages_tags %}
{# Load CSS and JavaScript #}

<div class="products row">

    {% for vouch in vouchers %}

        {% if vouch.get_type == 'Discount' %}
                <fv-vouchers-discount-small :voucher="{{ vouch|jsonifyModel }}"
                                            :voucher-page="true"></fv-vouchers-discount-small>
            {#            {% include "includes/vouchers/discounts.html" %}#}

        {% endif %}

        {% if vouch.get_type == 'PromoCode' %}
                {% include "includes/vouchers/promocodes.html" %}
        {% endif %}

        {% if vouch.get_type == 'Offer' %}
            {% include "includes/vouchers/offers.html" %}
        {% endif %}

    {% endfor %}

</div>
