{% load wagtailimages_tags %}
{# Load CSS and JavaScript #}

<div class="products row">

    {% for vouch in vouchers %}

        {% if vouch.get_type == 'Discount' %}
            <fv-vouchers-discount-small :voucher="{{ vouch|jsonifyModel }}"
                                        :voucher-page="true"></fv-vouchers-discount-small>

        {% endif %}

        {% if vouch.get_type == 'PromoCode' %}
            <fv-vouchers-promocode-small :voucher="{{ vouch|jsonifyModel }}"
                                         :voucher-page="true"></fv-vouchers-promocode-small>
        {% endif %}

        {% if vouch.get_type == 'Offer' %}
            <fv-vouchers-offer-small :voucher="{{ vouch|jsonifyModel }}"
                                     :voucher-page="true"></fv-vouchers-offer-small>
        {% endif %}

    {% endfor %}

</div>


{#                For pure HTML version of vouchers use:#}
{#            {% include "includes/vouchers/discounts.html" %}#}
{#                {% include "includes/vouchers/promocodes.html" %}#}
{#            {% include "includes/vouchers/offers.html" %}#}
