<table class="table text-dark table-home table-bordered border-warning table-service no-shadow">
    <tbody>


    {% for field in service_helper.trading_setup %}
        {% if forloop.counter == 1 %}
            <tr>
                <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                    colspan="2">{{ 'Trading Setup' }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="border border-light" scope="row" width="45%">{{ field.label }}:</td>
            <td class="border border-light" scope="row" width="55%">{{ field | safe }}</td>
        </tr>
    {% endfor %}


    {% for field in service_helper.customer_support %}
        {% if forloop.counter == 1 %}
            <tr>
                <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                    colspan="2">{{ 'Customer Support' }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="border border-light" scope="row" width="45%">{{ field.label }}:</td>
            <td class="border border-light" scope="row" width="55%">{{ field | safe }}</td>
        </tr>
    {% endfor %}


    {% for field in service_helper.details %}
        {% if forloop.counter == 1 %}
            <tr>
                <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                    colspan="2">{{ 'Details' }}</td>
            </tr>
        {% endif %}
        <tr>
            <td class="border border-light" scope="row" width="45%">{{ field.label }}:</td>
            <td class="border border-light" scope="row" width="55%">{{ field | safe }}</td>
        </tr>
    {% endfor %}


    </tbody>
</table>


<b-card-text>{% include "includes/service_comments.html" %}</b-card-text>