{% load wagtailimages_tags %}


<b-row class="service-main">


    <div class="col-12 col-md-5 company-overview-wrapper">
        <div class="row service-overview">
            <div class="col-10 col-md-10 service-overview-images">


                <a href="{{ affiliate.getLink }}">

                    {% image service.logo max-220x136 %}

                </a>

                <div class="flex-container">
                    <div class="star-value flexible">{{ service.get_avg_rate|floatformat:0 }}</div>
                    <div class="rate-container flexible">
                        <rate :length="5" :value="{{ service.get_avg_rate }}" readonly/>
                    </div>

                </div>

                <p class="service-text-blue">150 reviews</p>
                {% image service.preview max-400x249 %}

            </div>
            <div class="col-2 col-md-2 service-overview-icons">

                <div>

                    <b-dropdown class="compare-dropdown" variant="warning" no-caret>

                        <template slot="button-content">

                            <i class="fas fa-balance-scale fa-2x fa-cog-compare"></i>

                        </template>


                        <fv-compare-typeahead :options="[
            {% for sers in services %}
                {% if sers != service %}
                    {id: {{ forloop.counter }}, text: '{{ sers.name }}', link: '/fb/compare/{{ service.slug }}-vs-{{ sers.slug }}'},
                {% endif %}
            {% endfor %}
        ]" v-model="selected">
                        </fv-compare-typeahead>


                    </b-dropdown>


                </div>

                <div>

                    <b-dropdown class="compare-dropdown" variant="warning" no-caret>

                        <template slot="button-content">

                            <i class="fas fa-share-alt fa-2x fa-cog-compare"></i>

                        </template>

                        {% include "includes/media_share.html" %}


                    </b-dropdown>

                </div>


            </div>

            <div class="right-button">

                <a href="{{ affiliate.getLink }}">

                    <button type="button" class="btn btn-success font-weight-bold h4">

                        website

                    </button>

                </a>

            </div>


        </div>

    </div>


    <div class="col-12 col-md-7 company-profile-wrapper">
        <table class="table table-sm text-dark table-bordered">
            <tbody>
            {% for field in service_helper.company_profile %}

                {% if forloop.counter == 1 %}

                    <tr>
                        <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                            colspan="2">{{ 'Company Profile' }}</td>
                    </tr>

                {% endif %}




                <tr>
                    <td class="border border-light no-float" scope="row" width="45%">{{ field.label }}:</td>
                    <td class="border border-light no-float" scope="row" width="55%">{{ field | safe }}</td>
                </tr>

            {% endfor %}


            </tbody>
        </table>


    </div>


</b-row>




