{% load wagtailimages_tags %}

<div class="compare-tab">

    <h1>Compare with another service</h1>


    <fv-compare-typeahead :options="[
            {% for sers in services %}
                {% if sers != service %}
                    {% image sers.logo max-60x37 as logo %}

                    {id: {{ forloop.counter }}, text: '{{ sers.name }}', logo: '{{ logo.url }}', link: '/fb/compare/{{ service.slug }}-vs-{{ sers.slug }}'},
                {% endif %}
            {% endfor %}
        ]" v-model="selected"></fv-compare-typeahead>


</div>