<div class="row">

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

</div>

<div class="row">

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

    <div class="col-md-3 col-6">

        <div class="product">
            <img src="/static/images/ic-markets-site.webp" class="img-fluid">
            <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">
            <p class="service-text-blue">{{ service.name }}</p>
        </div>

    </div>

</div>