<form action="/savecomment" method="post">
    {% csrf_token %}
    <div class="panel-body">
        <div class="form-group text-dark no-shadow">
            <label for=""><h5>Select a rate:</h5></label>
            <div class="rate-container">
                <rate :length="5" :value="1"/>
            </div>

        </div>
        <input type="hidden" name="slug" value="{{ service.slug }}">

        <div class="form-group">
            <input type="text" class="form-control" placeholder="Enter your name" name="name" rows="1" cols="2"/>
        </div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="Enter your email" name="email" rows="1" cols="2"/>
        </div>

        <div class="form-group">
            <textarea class="form-control" placeholder="Post a review" name="review" rows="3" cols="2"></textarea>
        </div>
        <button type="submit" class="btn btn-info pull-right">Post</button>
        <div class="clearfix"></div>
        <hr/>
    </div>
</form>


<fv-comments-list/>


        <hr/>


    <ul>
        {% for comment in comments %}
            {% if forloop.counter < 4 %}

                <hr/>
            {% endif %}
            <ul>
                {% for child in comment.children %}
                    {% if forloop.counter < 4 %}
                        <li class="margin-comment">
                            <b-row class="infoAndImage-answer">
                                <b-col cols="8" class="text-left">
                                    <p class="text-danger">by {{ child.name }}</p>
                                    <p class="text-primary">{{ child.review }}</p>
                                </b-col>
                                <b-col cols="4" class="text-right text-dark">
                                    <p class="text-with-flag">{{ child.created_at }}</p>
                                    <span class="flag flag-icon flag-icon-squared flag-icon-{{ child.country_code|lower }} rounded-circle border border-secondary"></span>
                                    <p class="text-with-flag h-"><strong>  {{ child.country }} </strong></p>
                                </b-col>
                            </b-row>
                        </li>
                        <hr/>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
