{% extends "base.html" %}
{% load wagtailcore_tags %}
{# Load CSS and JavaScript #}

{% block body_class %}template-homepage{% endblock %}


{% block content %}
{{ page.body | richtext }}
<!--<h2>The Button Element</h2>-->
<!--<button type="button" onclick="alert('Hello world!')">Click Me!</button>-->


<!--<button type="button" class="btn btn-primary">Primary</button>-->
<!--<button type="button" class="btn btn-secondary">Secondary</button>-->
<!--<button type="button" class="btn btn-success">Success</button>-->
<!--<button type="button" class="btn btn-danger">Danger</button>-->
<!--<button type="button" class="btn btn-warning">Warning</button>-->
<!--<button type="button" class="btn btn-info">Info</button>-->
<!--<button type="button" class="btn btn-light">Light</button>-->
<!--<button type="button" class="btn btn-dark">Dark</button>-->

<!--<button type="button" class="btn btn-link">Link</button>-->

{% endblock %}