{% extends "base.html" %}
{% load wagtailcore_tags %}
{# Load CSS and JavaScript #}

<!---->
{% block body_class %}template-homepage{% endblock %} <!--que hace esto?-->


{% block content %}


<table class="table table-hover table-dark table_home table-bordered">
    <thead>
    <tr>
        <th colspan="3" scope="col"></th>
    </tr>
    </thead>
    <tbody>

    {% for attribute in table_rows %}

    <tr>
        <td>{{ attribute }}</td>
        <td>{{ attribute }}</td>
        <td>{{ attribute }}</td>

    </tr>

    {% endfor %}

    </tbody>
</table>

{% endblock %}


<!--<td>{{ service.section }}</td>-->