{% extends "base.html" %}
{% load wagtailcore_tags %}
{# Load CSS and JavaScript #}

<!---->
{% block body_class %}template-homepage{% endblock %}


{% block content %}


    <table class="table table-hover table-dark table_home table-bordered">
        <thead>
        <tr>
            <th colspan="2" scope="col">{{ service.name }}</th>

        </tr>
        </thead>
        <tbody>
        {% for sec_id, description in service.sections.items %}

            <tr>
                <th colspan="2" scope="row">{{ description }}</th>
            </tr>

            {% for att in service.attributes %}

                {% if att.section_id == sec_id %}

                    <tr>
                        <th scope="row">{{ att.name }}</th>
                        <td scope="row">{{ att.value }}</td>

                    </tr>

                {% endif %}

            {% endfor %}

        {% endfor %}
        </tbody>
    </table>


{% endblock %}


<!--<td>{{ service.section }}</td>-->