<head>
    <title>Not found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

</head>

<body>
<nav class="navbar bg-dark navbar-dark bg-info navbar-expand-lg"><a href="/">
    <div class="navbar-brand">
        <img src="/static/images/forexvouchers-logo.jpg" height="46" alt="FV"
             class="logo-img">
    </div>
</a>
</nav>

<div class="container" style="display: flex; align-items: center; justify-content: center; margin-top: 4rem;">


    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Content not found</h5>
            <p class="card-text">It seems the content you are trying to access doesn't exist. You can still find more if you visit our home page.
            </p>
            <a href="https://forexvouchers.com/" class="btn btn-primary">Go to main page</a>
        </div>
    </div>

</div>
</body>