{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
            {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
            {% with self.get_site.site_name as site_name %}
                {% if site_name %}- {{ site_name }}{% endif %}
            {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles/base.css' %}">

    {% block extra_css %}
        {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<script type="text/javascript">
    var data = {}

    function assign(key, value) {
        data[key] = value;
    }
</script>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<!--header-->

<div id="root" class="container-fluid wrapper">
    <div class="row header">
        {% include "includes/navbar.html" %}
    </div>
    {% block banner %}{% endblock %}


    <div class="row content">
            <div class="col-12">
            <b-container>
                {% block content %}{% endblock %}
            </b-container>
        </div>
        <div class="col-6 col-md-3"></div>

    </div>


    <div class="row footer">
        <div class="col-2"></div>
        <div class="col-8 base-footer">ForexVouchers</div>
        <div class="col-2"></div>
    </div>
</div>

<!--footer-->


{# Global javascript #}
<script type="text/javascript" src="{% static 'dist/js/forexvouchers.js' %}"></script>

{% block extra_js %}
    {# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
