{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
        {% if site_name %}- {{ site_name }}{% endif %}
        {% endwith %}
        {% endblock %}
    </title>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/styles/base.css' %}">

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}

<!--header-->

<div id="root" class="container-fluid wrapper">
    <div class="row header">
        <div class="col-6 col-md-3">.col-6 .col-md-3</div>
        <div class="col-12 col-md-6">
            <h1>Forex Vouchers</h1>
            
        </div>
        <div class="col-6 col-md-3">.col-6 .col-md-3</div>
        
        {% include "includes/navbar.html" %} 
    </div>

    <div class="row content">
        <div class="col-6 col-md-3 d-none d-lg-block"></div>
        <div class="col-12 col-md-6">
            <table class="table table-hover table-dark table_home table-bordered">
                <thead>
                <tr>
                    <th scope="col">Broker + Logo</th>
                    <th scope="col">Country + Regulation</th>
                    <th scope="col">Broker Type</th>
                    <th scope="col">Minimum Deposit</th>
                    <th scope="col">Leverage</th>
                    <th scope="col">Spread</th>
                    <th scope="col">Commission Fee</th>
                    <th scope="col">Rating & Reviews</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">AxiTrader</th>
                    <td>Australia</td>
                    <td>True ECN</td>
                    <td>$100</td>
                    <td>500x</td>
                    <td>0,2</td>
                    <td>$5</td>
                    <td>4.7 Stars</td>
                </tr>
                <tr>
                    <th scope="row">OctaFX</th>
                    <td>Australia</td>
                    <td>True ECN</td>
                    <td>$100</td>
                    <td>500x</td>
                    <td>0,2</td>
                    <td>$5</td>
                    <td>4.7 Stars</td>
                </tr>
                <tr>
                    <td colspan="8"><button onclick="alert('funcion')">show more</button></td>
                </tr>


                </tbody>
            </table>
        </div>
        <div class="col-6 col-md-3"></div>

    </div>


    {% block content %}{% endblock %}

    <div class="row footer">
        <div class="col-6 col-md-3">.col-6 .col-md-3</div>
        <div class="col-12 col-md-6">.col-6 .col-md-6</div>
        <div class="col-6 col-md-3">.col-6 .col-md-3</div>
    </div>
</div>

<!--footer-->


{# Global javascript #}
<script type="text/javascript" src="{% static 'dist/js/forexvouchers.js' %}"></script>

{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
