{% load wagtailschemaorg_tags %}


<div class="home-carousel">


    <!-- for mobile -->
    <div class="d-lg-none border border-light">
        <carousel per-page="1" autoplay="true">
            {% for service in premium_services %}
                <slide>
                    <div class="card" style="width: 8rem;">
                        <a href="{{ service.url }}">
                            <img src="{{ service.logo_url }}" class="card-img-top" alt="{{ service.name }}">
                        </a>
                        <div class="card-body">
                            <a href="{{ service.url }}">
                                <div class="card-title">{{ service.name }}</div>
                            </a>
                        </div>
                    </div>
                </slide>
            {% endfor %}
        </carousel>

        <div class="show-more right">
            <a size="sm" href="/brokers">More Brokers</a>
        </div>
    </div>

    <!-- for desktop -->
    <div class="d-none d-lg-block border border-light">
        <carousel per-page="4" autoplay="true">
            {% for service in premium_services %}
                <slide>
                    <div class="card" style="width: 8rem;">
                        <a href="{{ service.url }}">
                            <img src="{{ service.logo_url }}" class="card-img-top" alt="{{ service.name }}">
                        </a>
                        <div class="card-body">
                            <a href="{{ service.url }}">
                                <div class="card-title">{{ service.name }}</div>
                            </a>
                        </div>

                        <div class="rate-container product-stars">
                            <rate length="5" value="3" readonly/>
                        </div>

                    </div>
                </slide>
            {% endfor %}
        </carousel>
    </div>


    <div class="show-more right">
        <a size="sm" href="/brokers">More Brokers</a>
    </div>
</div>

{% for service in premium_services_models %}
    {% ld_for_object service.json_ld %}
{% endfor %}