<div class="footer row">
    <div class="container">

        <div class="row section-social">
            <div class="col-md-4">
                <div class="footer-title">Follow us</div>

                <div class="social-icons">
                    <a href="https://facebook.com" target="_blank" class="brand-icon"><i
                            class="fab fa-facebook-square"></i></a>
                    <a href="https://twitter.com" target="_blank" class="brand-icon"><i
                            class="fab fa-twitter-square"></i></a>
                    <a href="https://instagram.com" target="_blank" class="brand-icon"><i
                            class="fab fa-instagram"></i></a>

                    <div class="info">Copyright &copy;</div>
                    <div class="info">forexvouchers.com</div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="footer-title">Subscribe to us</div>
                <div class="info">Get access to our exclusive forex vouchers <br/>
                    Join thousands of forex traders worldwide

                    <form action="/" method="post">
                        <div class="input-group subscribe">
                            <input type="email" class="form-control" placeholder="Enter email address...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-subscribe" type="button">Button</button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>

    <hr class="divider"/>
    <div class="container">
        <div class="row section-links">
            <div class="col-md-4">
                <div class="footer-title underline">Information</div>
                <div class="link"><a href="/about">About us</a></div>
                <div class="link"><a href="/privacy-policy">Privacy Policy</a></div>
                <div class="link"><a href="/disclaimer">Disclaimer</a></div>
                <div class="link"><a href="/contact-us">Contact us</a></div>
            </div>
            <div class="col-md-4">
                <div class="footer-title underline">Reviews</div>
                <div class="link"><a href="/brokers">Forex Brokers</a></div>
                <div class="link"><a href="/services">Forex Signals</a></div>
                <div class="link"><a href="/services">Forex Training</a></div>
                <div class="link"><a href="/services">Forex Systems</a></div>
                <div class="link"><a href="/services">Forex VPS</a></div>
            </div>
            <div class="col-md-4">
                <div class="footer-title underline">Vouchers</div>
                <div class="link"><a href="/vouchers">Forex Brokers</a></div>
                <div class="link"><a href="/vouchers">Forex Signals</a></div>
                <div class="link"><a href="/vouchers">Forex Training</a></div>
                <div class="link"><a href="/vouchers">Forex Systems</a></div>
                <div class="link"><a href="/vouchers">Forex VPS</a></div>
            </div>
        </div>

        <div class="row section-wysiwyg">
            <div class="col-1"></div>
            <div class="col-10 centered">Forex Vouchers address and details, and other information will be published
                here
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>