{% load menus_tags %}
{% get_menu "vouchers" as vouchers %}
{% get_menu "services" as services %}
{% get_menu "information" as information %}


<div class="footer row">
    <div class="container">

        <div class="row section-social">
            <div class="col-md-4">
                <div class="footer-title">Follow us</div>

                <div class="social-icons">
                    <a href="{{ settings.cms.GeneralSettings.facebook }}" target="_blank" class="brand-icon"><i
                            class="fab fa-facebook-square"></i></a>
                    <a href="{{ settings.cms.GeneralSettings.twitter }}" target="_blank" class="brand-icon"><i
                            class="fab fa-twitter-square"></i></a>
                    <a href="{{ settings.cms.GeneralSettings.instagram }}" target="_blank" class="brand-icon"><i
                            class="fab fa-instagram"></i></a>

                    <div class="info">Copyright &copy;</div>
                    <div class="info">forexvouchers.com</div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="footer-title">Subscribe to us</div>
                <fv-subscribe></fv-subscribe>
            </div>
        </div>
    </div>

    <hr class="divider"/>
    <div class="container">
        <div class="row section-links">
            <div class="col-md-4">
                <div class="footer-title underline">Information</div>
                {% for item in information.menu_items.all %}
                    <div class="link">
                        <a href="{{ item.link }}" target="{{ item.target }}">{{ item.link_title }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="footer-title underline">Reviews</div>
                <div class="link"><a href="/brokers">Forex Brokers</a></div>

                {% for item in services.menu_items.all %}
                    <div class="link">
                        <a href="{{ item.link }}" target="{{ item.target }}">{{ item.link_title }}</a>
                    </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="footer-title underline">Vouchers</div>
                {% for item in vouchers.menu_items.all %}
                    <div class="link">
                        <a href="{{ item.link }}" target="{{ item.target }}">{{ item.link_title }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row section-wysiwyg">
            <div class="col-1"></div>
            <div class="col-10 centered">
                {{ settings.cms.GeneralSettings.footer_custom_text|safe }}
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>