<b-navbar toggleable="lg" type="dark" variant="info" class="bg-dark vue-init">
        <b-navbar-brand href="#">FV</b-navbar-brand>
    
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav>
            <b-nav-item href="#">Forex Brokers</b-nav-item>
            <b-nav-item href="#">Forex Training</b-nav-item>
            <b-nav-item href="#">Forex VPS</b-nav-item>
            <b-nav-item href="#">Forex Trading System</b-nav-item>
            <b-nav-item href="#">Forex Signals</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>