{% load static wagtailuserbar menus_tags %}
{% get_menu "navbar" as navbar %}
{% get_languages as languages %}


<b-navbar toggleable="lg" type="dark" variant="info" class="bg-dark vue-init">
    <a href="/">
        <b-navbar-brand>
            <img class="logo-img" src="{% static 'images/forexvouchers-logo.jpg' %}" alt="FV">
        </b-navbar-brand>
    </a>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
            {% for item in navbar.menu_items.all %}
                {% if item.link.slug %}
                    <b-nav-item-dropdown text="{{ item.link_title }}" right>
                    {% for sub_item in item.link.menu_items.all %}
                        <b-dropdown-item href="{{ sub_item.link_url }}" target="{{ sub_item.target }}">{{ sub_item.link_title }}</b-dropdown-item>
                    {% endfor %}
                    </b-nav-item-dropdown>
                {% else %}
                    <b-nav-item href="{{ item.link_url }}" target="{{ item.target }}">{{ item.link_title }}</b-nav-item>
                {% endif %}
            {% endfor %}
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown text="Lang" right>
                <template slot="button-content">
                    <i style="font-size: 1.5rem" class="flag flag-icon flag-icon-{% flagIconCode request.LANGUAGE_CODE languages.languages %}"></i>
                </template>

                {% for lang in languages.languages %}
                <b-dropdown-item href="/{{ lang.language_code }}"><span class="flag flag-icon flag-icon-squared flag-icon-{{ lang.flag_code }}"></span> {{ lang.name }}
                </b-dropdown-item>
                {% endfor %}
            </b-nav-item-dropdown>
        </b-navbar-nav>

    </b-collapse>


</b-navbar>

