{% load wagtailimages_tags %}

<div class="container middleware-main">

    <h2 class="title"> {{ voucher.type }} information </h2>

    <div class="row border border-light no-float ">

        <div class="col-auto image">
            <img src="{{ voucher.service_logo_medium }}">

            <b-col class="col-auto product-stars rate-container flexible voucher-info-service">

                <rate length="5" value="{{ voucher.service_rate }}" readonly/>

            </b-col>

        </div>
        <div class="col information">
            <div class="row  product-info-discount name">
                <h3>{{ voucher.name }}</h3>
                <p class="discount">{{ voucher.discount_percent }}% OFF</p>
            </div>
            <div class="row  description"> {{ voucher.description|safe }} </div>
            <div class="row  icons">
                {% if voucher.never_expires %}

                    <p class="icons">
                        <i class="fas fa-hourglass-half"></i> Never Expires
                    </p>

                {% else %}

                    <p class="icons"><i class="fas fa-hourglass-half"></i>
                        Expires in:&nbsp;
                        <timeago datetime="{{ voucher.expires }}"></timeago>
                    </p>

                {% endif %}
            </div>
            <div class="row button button-container">
                <a href="{{ voucher.affiliate.getLink }}">
                    <button type="button" class="btn btn-info btn-lg">
                        Get Discount
                    </button>
                </a>
            </div>

            <div class="product-service">
                <p>
                    <i class="fas fa-external-link-alt"></i>
                    Go <a class="product-service-link"
                          href="{{ voucher.service_url }}">{{ voucher.service_name }} </a> in-site page
                </p>


                <p><i class="fas fa-external-link-square-alt"></i>
                    External <a class="product-service-link"
                                href="{{ voucher.service_affiliate.url }}">{{ voucher.service_name }} </a> website
                </p>

                <p>
                    <i class="fas fa-external-link-alt"></i>
                    Views {{ voucher.affiliate.clicks }} in-site page
                </p>


            </div>
        </div>
    </div>
</div>


