.compare-page {

  .service-logo {
    width: 195px;
  }

  .service-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-compare {
    position: fixed;
  }

  .margin-for-header{
    margin-top: 150px;
  }

}
