.compare-page {

  .service-logo {
    width: 195px;
  }

  .service-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-compare {
  }

  .margin-for-header {
    margin-top: 150px;
  }

  .table td {
    padding: 0.4rem;
    vertical-align: middle;
  }

}
