.contact-title {
  padding-left: 5%;
}

.contact-form {
  list-style-type: none;
  padding-left: 0;
}

.contact-error {

  .errorlist {
    padding: 0;
    list-style-type: none;
  }
}

.contact-form div {
  margin-bottom: 1.5rem;
}

.contact-form label {
  display: block;
  font-weight: bold;
  color: $info;
}

.contact-form .helptext {
  display: block;
  font-size: 80%;
}

.gc-reset {
  transform: scale(0.95) !important;
  -webkit-transform: scale(0.95) !important;
  transform-origin: 0 0 !important;
  -webkit-transform-origin: 0 0 !important;
}
