.contact-form {
  list-style-type: none;
  padding-left: 0;
}

.contact-form li {
  margin-bottom: 1.5rem;

  .g-recaptcha {
    text-align: -webkit-center;
  }
}

.contact-form label {
  display: block;
  font-weight: bold;
  color: $info;
}

.contact-form .helptext {
  display: block;
  font-size: 80%;
}
