.centering {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.compare-checkbox {
  width: 20px;
  height: 20px;
  display: block;
}

.compare-button {
  position: absolute;
  margin: 20px;
}

.broker-input-min-lot-size {
  width: 100% !important;
  border-radius: 0;
}

.broker-input-button-min-lot-size {
  border-radius: 0;
}