.banner {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  color: $banner-text-color;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .banner-title {
    padding: 2em 2em 0 2em;
    text-align: center;
    font-size: 2rem;

  }

  .banner-body {
    padding: 0 2em 2em 2em;
    text-align: center;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-size: 1.3rem;
  }

}

.home-filters {
  background-color: $bg-alternative;
  margin-bottom: 2em;

  .container {
    max-width: 600px;
  }

  .results {
    position: absolute;
    z-index: 1000;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: -5px 0 0 10px;

    .card {
      margin: 0 20px;
      max-width: 590px;
      width: 100%;
    }

    .spinner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .message {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .badge {
      margin-left: 0.2rem;
    }
  }

}

.services-table {
  .country-regulation {
    display: flex;
    justify-content: space-between;
  }

  .reviews-count {
    text-align: center;
  }

  .rate-container {
    width: 132px;
    margin-bottom: 4px;

    .Rate__star .icon {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

}

.show-more {
  margin-top: 0.5rem;

}

.show-more.right {
  a {
    padding: 0.66em
  }
}

.most-compared-main {
  td {
    border: none;
  }
}

.most-compared-header {
  border: none;
}

.most-compared-div {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.light-hover {
  &:hover {
    background-color: $light !important;

    .Rate__star {
      color: $secondary;

      &.filled {
        color: #efc20f;
      }
    }
  }
}

.homepage-column {
  border: 1px solid $secondary;
  margin: 1rem 0;

  li, .list-group-item {
    padding-bottom: 0.5rem !important;
  }

  @include media-breakpoint-up(md) {
    .fixed-height {
      height: 340px;
      overflow-y: hidden;
    }
  }

  .homepage-header {
    text-align: -webkit-center;
    border: none;
    background-color: $secondary;
    border-color: $table-dark-border-color;
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
    padding: 0.3rem;
    font-weight: bold;
    color: #fff;
  }

  table {
    margin-bottom: 0;
  }

  .top-scroll-button {
    color: $info;
    top: 0;
    z-index: 1000;
    display: none;
    border: 0;
    border-radius: 0;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .bottom-scroll-button {
    color: $info;
    bottom: 0;
    z-index: 1000;
    display: none;
    border: 0;
    border-radius: 0;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

}

.one-liner {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.img-align-row {
  display: table-row;
}

.img-align-div {
  display: table-cell;
  vertical-align: middle;
}

.partner-card {
  display: flex;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.border-thick-solid {
  border-width: thick;
  border: solid 3px;
}

.text-align-center {
  text-align: center;
}

.home-dropdown {
  .btn {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}

.VueCarousel-inner-margin .VueCarousel-inner {
  margin-bottom: 0 !important;
}

.VueCarousel .VueCarousel-pagination .VueCarousel-dot-container {
  margin-top: 0 !important;
}

.VueCarousel-dot {
  margin-top: 0 !important;
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.news-list {

  div {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid $light;
  }

  div:last-child {
    border-bottom: none;
  }

  div {
    a {
      h6 {
        font-family: ralewayextrabold;
      }
    }

    p {
      font-family: ralewayregular;
      font-size: 0.7rem;
    }
  }

}

//.home-vouchers {
//  .VueCarousel-slide {
//    margin-right: 1rem;
//  }
//}

.comment-link {
  cursor: pointer;
  padding: 0.1rem 1rem !important;


  p {
    margin: 0;
    font-size: 14px;
  }

  .text-primary {
    font-size: 14px;
  }

  .rate-container {
    width: 132px;
    margin-bottom: 4px;

    .Rate__star .icon {
      width: 0.75rem;
      height: 0.75rem;
      margin: 1px;
    }
  }
}