.banner {
  background-image: url("../images/cool-background.png");
  background-repeat: no-repeat;
  min-height: 200px;
  color: $banner-text-color;
  margin: 2em 0;

  .banner-title {
    padding: 2em 2em 0 2em;
    text-align: center;

  }

  .banner-body {
    padding: 0 2em 2em 2em;
    text-align: center;
  }

}

.services-table {
  .country-regulation {
    display: flex;
    justify-content: space-between;
  }

  .reviews-count {
    text-align: center;
  }

  .rate-container {
    width: 132px;
    margin-bottom: 4px;
    f
    .Rate__star .icon {
      width: 0.75rem;
      height: 0.75rem;
    }
  }

}

.most-compared-main {
  td {
    border: none;
  }
}

.most-compared-header {
  text-align: -webkit-center;
  border: none;
}

.most-compared-div {
  padding: 0px;
  display: flex;
  justify-content: flex-end;
}

.recent-comments {
  .list-group-item-primary:hover {
    background-color: #c8c9cb;

  }
}