.middleware-main {
  margin-top: 35px;

  .information {
    padding: 30px;
  }

  .image {
    margin-top: 45px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 150px;
    }
  }

  .name {
    display: flex;
    justify-content: space-between;
  }

  .description {
    font-family: ralewayextrabold_italic;
    color: $gray-800;
  }

  .icons {
    margin-top: 0.3rem;
    color: $black;
  }

  .button-container {
    margin-bottom: 20px;
    margin-top: 20px;

    .button-border {
      border: 1px dashed $black;
      padding: 6px;

      .button-get-code {
        color: white;
      }

      .button-code {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text-code {
          flex: 2;
          text-align: center;
        }

        .copy-code {
        }
      }
    }

  }


  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    border: none;
    //width: 85%;
    text-shadow: none;
  }

  .discount {
    font-family: ralewayextrabold;
    color: black;
    margin-top: 3px;
  }

  .title {
    text-shadow: none;
    color: $info;
    text-align: center;

    &-more-vouchers {
      font-weight: 800;
    }
  }

  .button-large {
    padding: 0.3rem 1rem;
    font-size: 1.33rem;
    line-height: 1.5;
    color: $primary;
  }

}

.related-vouchers {
  background-color: transparent;
}

.VueCarousel-inner-margin {
  .VueCarousel-inner {
    margin-bottom: 30px;
  }
}

.copy-code {
  border-radius: 0;
}