.service-page {

  @include media-breakpoint-up(md) {
    .service-main {
      flex-direction: row-reverse;
    }
  }

  .service-title {
    margin-top: 50px;
    font-weight: bold;
  }

  .service-logo {
    width: 225px;
  }


  .tabs {
    .nav-link {
      color: black;

      &.active {
        color: #0ca0d6;
      }
    }
  }

  .service-main {

    margin-bottom: 45px;

    .btn-success {
      background-color: #78cc78;
      border-color: #78cc78;
      text-shadow: none;
      line-height: 0.5;
      font-size: 1.5375rem;
      margin-top: 5px;
      padding-left:  30px;
      padding-right:  30px;
    }

    .service-overview {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .service-text-blue {
      color: #184298;
      font-size: 1.2375rem;
      margin: 0;
    }
    .rate-container {
      margin-bottom: 4px;
      .Rate__star .icon {
        width: 1.75rem;
        height: 1.75rem;
      }
    }
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .star-value {
    font-weight: bolder;
    font-size: x-large;
    color: #efc20f;
  }

  .flexible {
    flex: 1 0 auto;
    word-wrap: break-word;
  }

}
