.service-page {

  .company-profile-wrapper {
    margin-top: 60px;
  }

  @include media-breakpoint-up(md) {
    .service-main {
      flex-direction: row-reverse;
    }

    .company-profile-wrapper {
      margin-top: 0;
    }
  }

  .flag {
    font-size: 25px;
    background-size: cover;
  }

  .service-title {
    margin-top: 50px;
    font-weight: bold;
  }

  .service-logo {
    width: 225px;
  }

  .tabs {
    .nav-link {
      color: black;

      &.active {
        color: #0ca0d6;
        border-bottom-color: #fff;
      }

      &.active {
        color: #0ca0d6;
      }
    }
  }

  .service-main {

    margin-bottom: 45px;

    .btn-success {
      background-color: #78cc78;
      border-color: #78cc78;
      text-shadow: none;
      line-height: 0.5;
      font-size: 1.5375rem;
      margin-top: 5px;
      padding-left: 30px;
      padding-right: 30px;
    }

    .service-overview {
      height: 100%;
    }

    .service-overview-images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    .service-text-blue {
      color: #184298;
      font-size: 1.2375rem;
      margin: 0;
    }
    .rate-container {
      margin-bottom: 4px;
      .Rate__star .icon {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    .table {
      margin-bottom: 0;
    }
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .star-value {
    font-weight: bolder;
    font-size: x-large;
    color: #efc20f;
  }

  .flexible {
    flex: 1 0 auto;
    word-wrap: break-word;
  }

  .tabs-margin {
    margin-bottom: 60px;

  }

  .list-group-item:hover {
    background-color: $light;
    .text-primary {
      text-decoration: none;
    }
  }

  .product {
    flex: 0 0 25%;
    position: relative;
    background-color: #f8f9f9;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.12);
    margin: 15px 0;
    transition: all .85s ease;
    margin-left: 2%;
    margin-right: 2%;
  }

  .product:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.52);
    transition: all .85s ease;
  }

  .no-float {
    display: table-cell;
    float: none;
  }

  .right-button {
    display: flex;
    justify-content: center;
  }

  .fa-cog-share {
    color: $share;
  }

  .fa-cog-compare {
    color: $compare;
  }

  .service-overview-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .service-overview {
    height: 100%;
  }

  .caret {
    border: none;
  }

  .caret:before {
    font-family: FontAwesome;
    content: "\f019";
    position: relative;
    top: -9px;
  }

}



