.vouchers-menu {

  .custom-control-label {

    color: $options;
  }
  .col-form-label.pt-0 {

    font-weight: bold;
    color: $options;
    padding-top: 0;
    padding-bottom: 0;
  }

  &-margin-top {
    margin-top: 25px;
  }

}

.voucher-discount-row {
  border-top: 1px groove $gray-400;
  border-right: 1px groove $gray-400;
  border-left: 1px groove $gray-400;
}

.logo-discount {
  max-width: 60px;
  min-width: 60px;
}

.voucher-info {
  border-bottom: 1px groove $gray-400;
  border-right: 1px groove $gray-400;
  border-left: 1px groove $gray-400;
  border-top: 3px solid $gray-400;
  &-service {
    padding-top: 10px;
    padding-bottom: 10px;
    &-expiration {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: end;
      &-never {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: end;
        padding-right: 6%;
        //padding-right: 55px;
      }
    }
  }
}

.vouchers-description {
  font-family: ralewaythin_italic;
  color: $black;
}

.show-more {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 2em;

  &.right {
    justify-content: flex-end;
  }

  a {
    color: $info;
    border: 2px solid $info;
    border-radius: 4px;
    padding: 1em;
    text-align: center;
  }
  &-services {
    margin-bottom: 10px;
    margin-left: 35%;
    a {
      border-radius: 4px;
      color: $info;
      padding: 0.3em;
      border: 2px solid $info;
      text-align: center;
    }
  }
}

.limit-char-2500 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}