//$body-bg: #ff1500;

$bg-color: #252A2F;
$banner-text-color:  #252A2F;
$light: #DADFE4;
$stars: #ff9600c7;
$share: #25B7D3;
$link: #2A8BC1;
$compare: white;
$dropdown-bg: white;
$dropdown-link-color: #272B30;
$prereveal: rgba(255, 55, 9, 0.78);
$backreveal: #ff8d0d;



$progress-bg: $light;
$progress-bar-color: $stars;

//$navbar-dark-brand-color: