.comment-wrapper{
  hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(46, 49, 49, 1);
}
}

rgba(46, 49, 49, 1)

.rate-container {
  button:focus, button {
    outline: none;
    padding: 0 !important;
  }
}



.comment-wrapper{
    ul ul li{margin-left: 75px;}
}

.flag{
    font-size: 45px;
}

.text-with-flag{
    font-size: 15px;
    margin-top: -11px;
}

.margin-0{
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

content:"\e138";