.comment-wrapper {
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(46, 49, 49, 1);
  }
  .flag.flag-icon {
    font-size: 50px;
    background-size: cover;
  }

}

.comment-list {
  padding-left: 0;
  margin-bottom: 0;

  li {
    list-style-type: none;
    background-color: white;
    padding: 1em;
    &:nth-child(odd) {
      background-color: $light;
    }
  }

}

.stars-filter-total {
  h5 {
    color: black;
    text-align: right;
  }
  width: 50%;
}

.center-vertical-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.stars-filter-item {

  display: flex;
  align-items: center;
  .stars-label {
    width: 50%;
    padding-right: 1em;
    text-align: right;
    a {
      color: $link;
    }
  }

  .stars-progress-bar {
    width: 50%;
  }
}

.rate-container {
  button:focus, button {
    outline: none;
    padding: 0 !important;
  }
}

.text-with-flag {
  font-size: 11px;
}

.margin-0 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
