.compare-list {
  padding-left: 0;
  margin-bottom: 0;

  li {
    list-style-type: none;
    background-color: white;
    padding: 1em;
  }


  li {
    border-bottom: 2px solid $light;
  }

  li:last-child {
    border-bottom: none;
  }


  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .compare-item {

    a {

      display: flex;
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0;

      .service {
        display: flex;
        width: 45%;

        &-left {
          justify-content: flex-end;
        }
      }

      .vs {
        color: $primary;
        font-weight: bold;
        min-width: 25px;
        text-align: center;
      }
    }
  }
}

.compare-stars {
  padding-left: 0;

  .Rate {
    .Rate__star {
      .icon {
        margin: 0 1px;
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }
}