.compare-list {
  padding-left: 0;
  margin-bottom: 0;

  li {
    list-style-type: none;
    background-color: white;
    padding: 1em;
  }

  .compare-item {
    display: flex;
    justify-content: space-between;
    padding: 0;

    .service {
      display: flex;
      width: 40%;
    }

    .vs {
      color: $primary;
      font-weight: bold;
      width: 20%;
      text-align: center;
    }
  }

}

.compare-stars {
  padding-left: 0;

  .Rate {
    .Rate__star {
      .icon {
        margin: 0 1px;
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }
}