.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  width: 100%;
}

.header {
  background-color: $bg-color;

  h1 {
    color: white;
  }
}

.content {
  flex: 1;
}

.footer {
  background-color: $bg-color;

}

.table-home {
  margin-top: 20px;
}

.service-title {
  margin-top: 50px;
}

.table-service.table-light {
  background-color: $gray-300;
  td {
    border-color: $gray-700;
  }
  th {
    border-color: $gray-700;
    border-bottom: 0;
  }
}

.vue-init {
  visibility: hidden;
}

.no-shadow {
  text-shadow: none;
}

@include media-breakpoint-up(md) {
  .service-main {
    flex-direction: row-reverse;
  }
}


