
.product {
  flex: 0 0 25%;
  position: relative;
  background-color: #f8f9f9;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.12);
  margin: 15px 0;
  transition: all .85s ease;
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .btn-lg {
    font-size: 0.95rem;
  }
}

.product-discount {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: #fff;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
  padding: 0 10px;
  border: 1px solid #d4d4d4;
  font-family: ralewayextrabold_italic;
  color: black;
}

.discount-discount {
  font-family: ralewayextrabold_italic;
  color: black;
}

.product:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.52);
  transition: all .85s ease;
}

.product-image-wrapper {
  padding-top: 15px;
}

.product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-info {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;

  h1, h2, h3, h4, h5, h6 {
    font-family: ralewayextrabold_italic;
    text-shadow: none;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black;
    white-space: nowrap;
  }
  &-discount {
    overflow: inherit;
    text-overflow: inherit;
    white-space: inherit;
    word-break: break-all;
    color: $gray-900;
    text-shadow: none;
    font-family: ralewayextrabold;
  }

}

.product-clicks {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  font-family: ralewayregular;
  text-shadow: none;
  color: black;
}

.product-service {
  text-align: left;
  padding-left: 20px;
  padding-right: 10px;
  font-family: ralewayregular;
  text-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  white-space: nowrap;
  font-size: small;
}

.product-service-link {
  text-align: left;
  font-family: ralewayregular;
  text-shadow: none;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  white-space: nowrap;
  font-size: small;
}

.product-service-link:hover {
  text-decoration: none;
  color: $link;
}

.product-expires {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: none;
  color: $success;
  font-weight: 600;
  white-space: nowrap;
}

.product-link {
  padding-bottom: 15px;
  &-discount {
    padding-bottom: 0px;
  }
}

.product-link-button {
  border-radius: 0;
  border: none;
  width: 85%;
  text-shadow: none;
}

.product-stars {
  padding-left: 0;
  .Rate {
    .Rate__star {
      .icon {
        margin: 0 1px;
        width: 0.9rem;
        height: 0.9rem;
      }
    }
  }
}

//.product-link-button:hover {
//  color: red;
//}

.voucher-discount {
  margin-top: 30px;
}

.voucher-discount-row {
  border-top: 1px groove $gray-400;
  border-right: 1px groove $gray-400;
  border-left: 1px groove $gray-400;
}

.logo-discount {
  max-width: 60px;
  min-width: 60px;
}

.voucher-info {
  border-bottom: 1px groove $gray-400;
  border-right: 1px groove $gray-400;
  border-left: 1px groove $gray-400;
  border-top: 3px solid $gray-400;
  &-service {
    padding-top: 10px;
    padding-bottom: 10px;
    &-expiration {
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: end;
      &-never {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: end;
        padding-right: 6%;
        //padding-right: 55px;
      }
    }
  }
}