{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{# Load CSS and JavaScript #}

<!---->
{% block body_class %}template-homepage{% endblock %}
{% block title_suffix %}- {{ service1.name }} vs {{ service2.name }}{% endblock %}
{% block meta_description %}{{  self.search_description }}{% endblock %}


{% block content %}

    <div class="compare-page">

        <div class="d-none d-md-block">
        {% include 'includes/compare/compare_desktop.html' %}
        </div>

          <div class="d-md-none">
              {% include 'includes/compare/compare_mobile.html' %}
          </div>

    </div>





{% endblock %}
