{% extends "base.html" %}
{% load wagtailcore_tags %}
{# Load CSS and JavaScript #}

<!---->
{% block body_class %}template-homepage{% endblock %}



{% block content %}

    <div class="compare-page">


        <div class="row col-12" id="compareHeader">

            <div class="col-2"></div>

            <div class="col-5">

                <div class="row">

                    <b-col class="col-2">

                    </b-col>

                    <b-col class="col-6 service-overview">

                        <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">

                    </b-col>

                    <b-col class="col-4 service-overview">

                        <button type="button" class="btn btn-success font-weight-bold h4">website</button>

                    </b-col>


                </div>

            </div>

            <div class="col-5">

                <div class="row">

                    <b-col class="col-2">

                    </b-col>

                    <b-col class="col-6 service-overview">

                        <img src="/static/images/ic-markets-logo-1.jpg" class="img-fluid service-logo">

                    </b-col>

                    <b-col class="col-4 service-overview">

                        <button type="button" class="btn btn-success font-weight-bold h4">website</button>

                    </b-col>


                </div>

            </div>

        </div>


        {#        {% if att1.name == 'Country' %}#}
        {#            <div class="visa"></div>#}
        {#        {% endif %}#}


        <div class="row">


            <table class="table text-dark table-home table-bordered border-warning table-service no-shadow">
                <tbody>


                {% for field1 in service_helper1.company_profile %}
                    {% if forloop.counter == 1 %}
                        <tr>
                            <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                                colspan="3">{{ 'Company Profile' }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="border border-light" scope="row" width="20%">{{ field1.label }}:</td>
                        <td class="border border-light" scope="row" width="40%">{{ field1 | safe }}</td>
                        {% for field2 in service_helper2.company_profile %}
                            {% if field1.label == field2.label %}
                                <td class="border border-light" scope="col" width="40%">{{ field2 | safe }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}

                {% for field1 in service_helper1.trading_setup %}
                    {% if forloop.counter == 1 %}
                        <tr>
                            <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                                colspan="3">{{ 'Trading Setup' }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="border border-light" scope="row" width="20%">{{ field1.label }}:</td>
                        <td class="border border-light" scope="row" width="40%">{{ field1 | safe }}</td>
                        {% for field2 in service_helper2.trading_setup %}
                            {% if field1.label == field2.label %}
                                <td class="border border-light" scope="col" width="40%">{{ field2 | safe }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}

                {% for field1 in service_helper1.customer_support %}
                    {% if forloop.counter == 1 %}
                        <tr>
                            <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                                colspan="3">{{ 'Customer Support' }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="border border-light" scope="row" width="20%">{{ field1.label }}:</td>
                        <td class="border border-light" scope="row" width="40%">{{ field1 | safe }}</td>
                        {% for field2 in service_helper2.customer_support %}
                            {% if field1.label == field2.label %}
                                <td class="border border-light" scope="col" width="40%">{{ field2 | safe }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}

                {% for field1 in service_helper1.details %}
                    {% if forloop.counter == 1 %}
                        <tr>
                            <td class="text-center border border-light text-dark font-weight-bold bg-light" scope="row"
                                colspan="3">{{ 'Details' }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td class="border border-light" scope="row" width="20%">{{ field1.label }}:</td>
                        <td class="border border-light" scope="row" width="40%">{{ field1 | safe }}</td>
                        {% for field2 in service_helper2.details %}
                            {% if field1.label == field2.label %}
                                <td class="border border-light" scope="col" width="40%">{{ field2 | safe }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}


                </tbody>

            </table>

        </div>

    </div>





{% endblock %}


{% block extra_js %}
    <script>
        window.addEventListener('load', function () {
            window.onscroll = function () {
                onScroll()
            };

            var header = document.getElementById("compareHeader");
            var sticky = header.offsetTop;

            function onScroll() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        });
    </script>
{% endblock %}


{## # Company profile#}
{##}
{## context['founded'] = service.founded#}
{## context['status'] = service.status#}
{## context['broker_type'] = service.broker_type#}
{## context['regulation'] = service.regulation#}
{## context['countries'] = service.countries#}
{## context['international_offices'] = service.international_offices#}
{## context['license'] = service.license#}
{## context['accept_us_clients'] = service.accept_us_clients#}
{## context['accept_eu_clients'] = service.accept_eu_clients#}
{###}
{## # Trading setup#}
{###}
{## context['timezone'] = service.timezone#}
{## context['trading_software'] = service.trading_software#}
{## context['platforms_supported'] = service.platforms_supported#}
{## context['ea_robots'] = service.ea_robots#}
{## context['scalping'] = service.scalping#}
{## context['hedging'] = service.hedging#}
{###}
{## # Customer support#}
{###}
{## context['email'] = service.email#}
{## context['phone'] = service.phone#}
{## context['office_address'] = service.office_address#}
{## context['chat'] = service.chat#}
{## context['support_languages'] = service.support_languages#}
{###}
{## # Details#}
{###}
{## context['training_courses'] = service.training_courses#}
{## context['training_type'] = service.trading_type#}
{## context['methodology'] = service.methodology#}
{## context['training_tools'] = service.training_tools#}
{## context['instructor'] = service.instructor#}
{## context['pricing_model'] = service.pricing_model#}
{## context['system_type'] = service.system_type#}
{## context['trading_type'] = service.trading_type#}
{## context['required_software'] = service.required_software#}
{## context['signal_alerts'] = service.signal_alerts#}
{## context['frequency'] = service.frequency#}
