{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="service-page mb-0 pb-0">
        <h2 class="service-title text-center no-shadow text-dark">{{ self.title }}</h2>
    </div>
    <div class="mb-5 p-5">
        <form action="{% pageurl page %}" method="POST">
            {% csrf_token %}

            <ul class="contact-form">
                {{ form.as_ul }}
            </ul>

            <button type="submit" class="btn btn-success">
                Submit Form
            </button>
        </form>
    </div>
{% endblock %}

