{% extends "base.html" %}
{% load wagtailcore_tags %}
{# Load CSS and JavaScript #}

{% block body_class %}template-homepage{% endblock %}

{% block banner %}
    {% include "includes/home_banner.html" %}
{% endblock %}

{% block content %}

    <div>
        <fv-services-table/>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                {% include "includes/home_recent_compares.html" %}
            </div>
            <div class="col">
                {% include "includes/home_recent_comments.html" %}
            </div>
        </div>
    </div>




{% endblock %}
