{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block meta_description %}{{  page.search_description }}{% endblock %}
{% block body_class %}template-homepage{% endblock %}

{% block banner %}
    {% include "includes/home/home_banner.html" %}
    {% include "includes/home/home_filters.html" %}
{% endblock %}

{% block content %}

    {% include "includes/home/home_vouchers.html" %}

    {#    {% include "includes/home/home_carousel.html" %}#}

    <h1 class="text-primary display-6 text-center">Popular Forex Brokers</h1>
    <div>
        <fv-home-services></fv-home-services>
    </div>
    <div class="show-more right">
        <a size="sm" href="/brokers">Show More</a>
    </div>

    <h1 class="text-primary display-6 text-center">Popular Vouchers</h1>
    <div>
        <fv-home-vouchers :is-flex="true"/>
    </div>
    <div class="show-more right">
        <a size="sm" href="/vouchers">Show More</a>
    </div>



    <div class="row">
        <div class="col-lg-4 col-md-6">
            {% include "includes/home/home_recent_compares.html" %}
        </div>
        <div class="col-lg-4 col-md-6">
            {% include "includes/home/home_news.html" %}
        </div>
        <div class="col-lg-4">
            {% include "includes/home/home_recent_comments.html" %}
        </div>
    </div>

    {% include "includes/home/home_premium_partners.html" %}

{% endblock %}
