{% extends "base.html" %}
{% load wagtailcore_tags %}
{# Load CSS and JavaScript #}

<!---->
{% block body_class %}template-homepage{% endblock %}


{% block content %}a
<span class="flag-icon flag-icon-ar"></span>
<span class="flag-icon flag-icon-gr flag-icon-squared"></span>

    <table class="table table-hover table-dark table_home table-bordered">
        <thead>
        <tr>
            <th class="text-center" colspan="2" scope="col">{{ service.name }}</th>

        </tr>
        </thead>
        <tbody>
        {% for sec_id, description in service.sections.items %}

            <tr>
                <td class="text-center" colspan="2" scope="row">{{ description }}</td>
            </tr>

            {% for att in service.attributes %}

                {% if att.section_id == sec_id %}

                    <tr>
                        <td scope="row">{{ att.name }}:</td>
                        <td scope="row">{{ att.value }}</td>
                    </tr>

                {% endif %}

            {% endfor %}

        {% endfor %}
        </tbody>
    </table>


{% include "includes/comments.html" %}



{% endblock %}


<!--<td>{{ service.section }}</td>-->