<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Forex Vouchers",
  "url": "https://forexvouchers.com",
  "logo": "https://forexvouchers.com/images/logo.png",
  "sameAs": [
    "https://www.facebook.com/forexvouchers",
    "https://twitter.com/forexvouchers",
    "https://www.instagram.com/forex.vouchers/",
    "https://www.pinterest.com/forexvouchers/",
    "https://github.com/forexvouchers",
    "https://myspace.com/forexvouchers"
  ]
}
</script>

