{% extends "base.html" %}
{% load wagtailcore_tags %}
{# Load CSS and JavaScript #}

<!---->
{% block body_class %}template-homepage{% endblock %}


{% block content %}
    <h1 class="service-title text-center no-shadow text-dark">
        {{ service.name }}
    </h1>
    <table class="table table-hover table-light text-dark font-weight-bold table_home table-bordered table-service no-shadow">
        <tbody>
        {% for sec_id, description in service.sections.items %}

            <tr>
                <td class="text-center" colspan="2" scope="row">{{ description }}</td>
            </tr>

            {% for att in service.attributes %}

                {% if att.section_id == sec_id %}

                    <tr>
                        <td scope="row">{{ att.name }}:</td>
                        <td scope="row">{{ att.value }}</td>
                    </tr>

                {% endif %}

            {% endfor %}

        {% endfor %}
        </tbody>
    </table>


    {% include "includes/comments.html" %}



{% endblock %}


<!--<td>{{ service.section }}</td>-->