{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailschemaorg_tags %}

{% block meta_description %}{{  voucher_model.meta_description }}{% endblock %}
{% block title_suffix %}- {{ voucher_model.name }}{% endblock %}


{% block content %}

    <div class="products row">

        {% if voucher_type == 'Discount' %}

            <fv-middleware-discount vouch="{{ voucher }}"></fv-middleware-discount>

        {% endif %}

        {% if voucher_type == 'PromoCode' %}

            <fv-middleware-promocode vouch="{{ voucher }}" sort="'premium'"></fv-middleware-promocode>

        {% endif %}

        {% if voucher_type == 'Offer' %}

            <fv-middleware-offer vouch="{{ voucher }}" sort="'premium'"></fv-middleware-offer>

        {% endif %}

    </div>
    {% ld_for_object voucher_model.json_ld %}

{% endblock %}