{% extends "base.html" %}
{% load wagtailimages_tags %}
{% load wagtailschemaorg_tags %}

{# Load CSS and JavaScript #}

{% block content %}

    <div class="products row">

        {% if voucher_type == 'Discount' %}

            <fv-middleware-discount vouch="{{ voucher }}" sort="'premium'"></fv-middleware-discount>

        {% endif %}

        {% if voucher.type == 'PromoCode' %}

            {% include "includes/vouchers/middleware/promocodes.html" %}

        {% endif %}

        {% if voucher.type == 'Offer' %}

            {% include "includes/vouchers/middleware/offers.html" %}

        {% endif %}

    </div>
    {% ld_for_object voucher_model.json_ld %}

{% endblock %}